@media (min-width: 481px) and (max-width: 767px) {

    .header {
        height: 95vh;
        background-image:  linear-gradient( to right bottom,
            rgba(30, 51, 240, 0.5),
            rgba(4, 24, 244, 0.5) ), 
             url(../images/firstimg.jpeg); 
        background-position:cover;
        position: relative;
    }
  
    .heading-box {
        position: absolute;
        top:30%;
        left: 10%;
        right:10%
    }
    .padit {
        text-align: center;
        font-size: 1rem;
        padding: 0 10px 0 10px;
    }
  
    .item{
     
        padding: 13px 10px;
        
    }

  }

  @media only screen and (max-width: 1280px) {

    
    #play {
        background-color: #ff6000;
        color: white;
        padding:4px;
        border-radius: 4px;
        margin-right: 5px;
     }
    
     #apple {
         background-color: #051be5;
         color: #fff;
         padding: 4px;
         border-radius: 4px;
         margin-left: 5px;

     }

     .care__article-links-link{

        padding: 7px; 
     }
     .sectThree-one {
         text-align: left;
         padding:30px 50px 30px 150px;
         color:#373648;
    
        
     }

    
     .layout2 {
        display:grid;
        grid-template-rows: 110px 110px ; 
        grid-template-columns: repeat(2, 1fr); 
        padding-top: 15px;
        grid-row-gap: 50px;
        grid-column-gap: 20px;
    }

    .layout2 {
        display:grid;
        grid-template-rows: 110px 110px ; 
        grid-template-columns: repeat(2, 1fr); 
        padding-top: 10px;
        grid-row-gap: 40px;
        grid-column-gap: 20px;
    }
  }
  


