* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "lato", sans-serif;
    font-weight:  400px;
    font-size: 16px;
    line-height: 1.7;
    color : #777;
    padding: 28px;
}
.fontUse {
    font-family: 'Poppins', sans-serif;
}

.logo-box {
    position: absolute;
    left:3%;
    top:5%;
    background-color: #ff6000;
    border:0px 10px 0px 10px solid #ff6000;

}

.logoName{
    color: #fff;
    padding: 5px 15px;

}

.header {
    height: 95vh;
    background-image:  linear-gradient( to right bottom,
        rgba(30, 51, 240, 0.5),
        rgba(4, 24, 244, 0.5) ), 
         url(../images/firstimg.jpeg); 
    background-size: cover; 
    background-position: top;
    position: relative;
}

.heading-box {
    position: absolute;
    top:50%;
    left: 40%;
    transform: translate(-30%, -30% );
    width: 70%;

}

.heading-primary {
    color: #fff;
    backface-visibility: hidden;
    padding-left: 150px;
    
}

.heading-primary-main {
    display: block;
    font-size: 30px;
    font-weight: 600;

}

.heading-primary-sub{
    display: block;
    font-size: 30px;
    font-weight: 600;
    padding-left: 70px;
}

.container{
    border: 0;
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}

.item{
    background-color: #ff6000;
    padding: 15px;
    color: #fff;
}

.nav-icon{
    background-color: blue !important ;
    color:white;
    padding: 15px; 
}
.padit {
    text-align: center;
    font-size: 1rem;
    padding: 0 200px 0 100px;
}

.sectionTwo{
    padding-top: 40px;
    display: flex;
    justify-content: flex-end;
    color: #fff;
}

.homeSectionOne{
    padding: 70px 30px  0 150px ;
    color:black;
    text-align: left;
}


.btnBlue {
    color: #fff;
    background-color: #051be5;
    padding: 15px;
    border: none;
    display:inline;
    border-radius: .5rem;
}

.homeSectionTwo {
   margin: 0 40px;
   height:259px;
   position: relative;
   
}

.insideThis {
    background-color:  rgba(4, 24, 244, 0.7);
    position: absolute;
    bottom: -210px;
    padding: 10px;

}

.icon {
    position: absolute;
    top: 0;
    right: 0;
}

  

/* section two */
.container-two{
    background-color: #0000ff;
    margin-block-start: 7%;
    max-height: 440px;
}

.container-sectionOne{
    display: flex;
    justify-content: center;
}

.sectOne{
    padding-left:80px;
    margin-top: 0;
    top:-30px ;
    position: relative;
    margin-right: 0;
    padding-right: 0;
}

.inside {
    background-color: #ff6000;
    position: absolute;
    bottom: 40px;
    color: #fff;
    margin-right: 40px;
    padding: 5px 10px 2px 10px;

}
.readmore {
    color: #fff;
    border: none;
    border-radius: .5rem;
    background-color: #ff6000;
    text-align: center;
    /* padding: 100px 10px 10px 5px; */
    /* padding: 2px; */
}
.b1{
    margin:50px 100px 10px 250px;
    padding: 15px;

}     

.parawhite{
    color:#fff;
}

.sectTwo{
    color:#fff;
    text-align: left;
    padding:50px 250px 0 80px ;
    position: relative;
}
.insideIcon {
    position: absolute;
    bottom: 60px;
    right:0;

}

.padMe {
    padding: 10px;
}

.container-sectionTwo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top:40px;
    justify-content: center;
    
}
.sectTwo-one {
    padding: 40px 350px;
    text-align: center;
    flex-wrap: wrap;
    color: black;

}

.sectTwo-two {
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 20px;
    grid-column-gap: 30px;
    padding-left: 200px;
    padding-right: 200px;
    
}

.gridOne:hover{
    border-bottom: 2px solid #ff6000;
}
 
.gridOne {
    border: 0.1px solid #e4e0e0;
    padding: 10px 15px;
    color: #373648;
}
.itwo{
   
}
p{
    color: #5c5b6b;
}

.sectThree{
    display: flex; 
    justify-content: flex-end;  
    grid-template-columns: repeat(2,1fr);
    margin-top: 60px;
    position: relative;
    background-color: #f9f9f9; 
}

.sectThree-one {
    text-align: left;
    padding:40px 50px 10px 150px;
    color:#373648;
   
}

h2{
    font-weight: 50px;
}

.layout2 {
    display:grid;
    grid-template-rows: 110px 110px ; 
    grid-template-columns: repeat(2, 1fr); 
    padding-top: 15px;
    grid-row-gap: 50px;
    grid-column-gap: 20px;
}
.containerSection4 {
    display: flex;
    justify-content: center;
    padding:40px 150px 10px 200px;
}

.dataText {
    text-align: left;
    padding-left: 20px;
}

.care__article-links {
    display: flex;
    bottom: 0;
    justify-content: space-around;
    padding: 10px 100px 0 0;

}

.sectThree-two{
    padding-top: 50px;

}

.care__article-links-link a {
    display: flex;
    color: white;
    text-decoration: none;
   }
.fa-google-play,
.fa-apple {
 align-self: center;
}
.down {
    text-transform: capitalize;
    color:#fff;
    
}
.from {
    text-transform: capitalize;
    color:#fff;
    
}
#play {
    background-color: #ff6000;
    color: white;
    padding:4px;
    border-radius: 4px;
 }

 #apple {
     background-color: #051be5;
     color: #fff;
     padding: 4px;
     border-radius: 4px;
 }
.case-study {
    text-align: center;
    margin: 10px;
    padding: 30px 0 5px 40px;
}
  
   /* SECTION FIVE */
.cards {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding: 35px 0 5px 20px; 
   }
.cardOne {
    flex: 0 0 33.33%;
    padding: 20px;
    background-color: #f9f9f9;
   }
.cardOne-header {
        margin:10px 0;
        color: #000000e5;
   }
  
.card-image {
    font-size: 1.3rem;
   }
.cardTwo {
    background-image: linear-gradient( to right bottom,
    rgba(101, 111, 206, 0.6),
    rgba(4, 24, 244, 0.6) ),
    url(../images/center.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    text-align: center;
   }

.cardTwo .readmore {

    padding: 2px;
}
a {
    text-decoration: none;
   }
   
.cardPara {
    font-size: 20px;

   }
   
.cardTwo-heading {
    font-size: 1.6rem;
    padding:0 5px;
   }


   /* section SectionForm*/

.sectionForm {
    width: 100%;
    background-image: linear-gradient(rgba(5, 27, 229, 0.4),
    rgba(5, 27, 229, 0.4)),
     url(../images/photo.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    margin: 0 auto;
    align-items: stretch;
    height: 42rem;
    margin-top: 30px;
}
.i1{
    background-color: #ff6000;
}
.sectionForm-grid {
    display:grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    
    font-size: 20px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    align-items: stretch;
    color: #f9f9f9;
}

.fa-user-tie,
.fa-trophy,
.fa-seedling {
 font-size: 8rem;
 margin-bottom: 1rem;
}

#numbers {
    color: white;
}

.i2,
.i3, 
.i4 {
    background-color: #051be5; 
}

   /* SECTION TESTIMONIALS */
   .testimonials__title {
    width: 40%;
    margin: 0 auto 10px;
    text-align: center;
    padding-top: 30px;
    
   }
   .testimonials__title h4 {
    color: #5c5b6b;
    font-size: 1.8rem;
    margin-bottom: 0.2rem;
   }
   .testimonials__title h2 {
    color:#393841;
    font-size: 1.8rem;
    margin-bottom: 1rem;
   }
   .testimonials__title p {
    color: #5c5b6b;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5rem;
   }
   .testimonials__body {
    display: flex;
    width: 80%;
    margin: 0 auto;
    position: relative;
   }
   .testimonials__body-article {
    margin: 6rem 10rem 6rem 6rem;
   }
   span.quotes {
    position: absolute;
    top: 5rem;
    right: 2rem;
    font-size: 6rem;
    color: #ff6000;
   }
   .testimonials__body-article h4 {
    font-size: 1.5rem;
    word-spacing: 1px;
   }
   .testimonials__body-article hr {
    border: 1px solid rgb(211, 205, 205);
    margin: 1rem 0;
   }
   .testimonials__body-article p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: #5c5b6b;
   }
   .testimonials__body-article h6 {
    font-size: 1.4rem;
    text-transform: capitalize;
    color: #5c5b6b;
    margin-bottom: 2rem;
   }
   .name {
    font-size: 1.5rem;
    display: inline-block;
   }
   .testimonials__body-article a {
    font-size: 2rem;
    padding: 0.6rem 1.2rem;
   }
   a.sec {
    background-color: #051be5;
    color:white;
   }
   a.pri{
       background-color: #ff6000;
       color:white;
   }
   .sponsors {
    width: 100%;
    margin: 0 auto;
   }
   /* Blog */
   .blog {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 25px;
   }
   .blog__left {
    flex: 0 0 50%;
   }
.seven{
    width: 55%;
    margin:40px auto;
    text-align: center;
    
}

.seven h5{
    font-size: 1.1rem;
    text-transform: capitalize;
}

.seven h3 {
    font-size: 1.5rem;
    text-transform: capitalize;
    color: rgb(34, 32, 32);
}

   .blog__left-date {
    font-size: 1.2rem;
    margin: 1rem 0;
    color: #5c5b6b;
   }
   .blog__left-title {
    color: #ff6000;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
   }
   .blog__left-article {
    font-size: 1.1rem;
    color: #777;    
   }
   .blog__left-link {
    background-color:#ff6000;
    margin: 1.2rem 0;
    display: inline-block;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 4px;
    color: white;
   }
   .blog__left-link:hover {
    background-color: #0000ff;
   }
   .blog__right-card {
    padding: 1.2rem;
    background-color: #f9f9f9;
    margin-bottom: 1rem;
    margin-left: 0.8rem;
   }
   .blog__right-date {
    font-size: .9rem;
    margin: 1rem 0 .8rem 0;
   }
   .blog__right-title {
    color: #0000ff;
    font-size: 1.2rem;
    margin-bottom: .8rem;
   }
   .blog__right-article {
    font-size: 1rem;
    line-height: 1.5rem;
   }
   .blog__right-card:hover {
    background-color: #ff6000;
   
   }
   .blog__right-card:hover p {
    color: white;
   }
   
/* FOOTER */
.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 3px;
    grid-column-gap: 15px;
    width: 100%;
    padding: 70px 130px 20px 200px;
  }